<% include partials/header %>

<br>
<br>
<div class="container">
    <header class="jumbotron">
        <div class="col align-self-center">


            <h1>Bienvenid@s</h1>
            <br>

            <h3>
                <a href="/order">Ver listas creadas</a>

            </h3>
        </div>

    </header>

</div>




<% include partials/footer %>